/* Navbar.css */
.navbar {
  background-color: #f6f4f1;
  color: #96695E;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.logo {
  height: auto;
  width: 90px;
}

.logo img {
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  width: 300px;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links a {
  padding: 2px;
  text-decoration: none;
  color: #96695E;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: none;
  /* scale: 1.2; */
  color: #a32f12;
  font-weight: 500;
}

.NavbarButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.signButton button {
  border: 1px solid #96695E;
  border-radius: 999px;
  box-shadow: #96695E 0 10px 20px -10px;
  box-sizing: border-box;
  color: #96695E;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 23px;
  width: 130px;
  /* border: 0; */
}

.signButton button:hover {
  background: #5E8B96;
  border-radius: 999px;
  box-shadow: #96695E 0 10px 20px -10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 23px;
  border: none;
}


.vaultConnect {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.vaultConnect p {
  font-weight: 500;
}

.vaultConnect img {
  width: 100%;
}



/* landing page */

.landingPage {
  background-color: #EDE7DE;
  background-image: url(./img/landingBg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;
  display: flex;
  justify-content: center;
}

.imgOnLandingPage {
  border-radius: 50%;
  position: relative;
  top: -16%;
  left: -10%;
  width: 600px;
  height: 520px;
  overflow: hidden;

}

.imgOnLandingPage img {
  width: 100%;
}

.textHeading {
  width: 400px;
}

.textHeading h1 {
  font-size: 3.5rem;
  color: #96695E;
}

.createAccountButton {
  background-color: transparent;
  color: #5E8B96;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 20px 50px;
  border: 1px solid #5E8B96;
  border-radius: 1rem;
  cursor: pointer;
}

.createAccountButton:hover {
  background-color: green;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 20px 50px;
  border: none;
  border-radius: 1rem;
}

/* landing page end */

/* sign Up */
.SignUpCard {
  background-color: #f6f4f1;
  background-image: url(./img/signBg1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 5px 10px;

}

.logoImg {
  height: auto;
  width: 100px;

}

.logoImg img {
  width: 100%;
}

.SignupCardFrom {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 350px;
  height: 68vh;
  background: #EDE7DE;
  border-radius: 1rem;
  box-shadow: #5e8b967a 0px 50px 100px -20px, #5e8b968b 0px 30px 60px -30px, #5e8b968e 0px -2px 6px 0px inset;
}

.SignupCardFrom h1 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: #5E8B96;
}

.inputFileds {
  height: 270px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}


.inputFileds input {
  padding: 5px 10px;
  font-size: 1.2rem;
  margin-bottom: 30px;
  width: 280px;
  height: 30px;
  border-radius: 1rem;
  border: none;
}


.inputFileds span {
  color: #96695E;
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 400;

}

.buttonSignUp p {
  color: rgb(187, 4, 4);

}

.buttonSignUp {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.buttonSignUp button {
  background-color: #5E8B96;
  width: 300px;
  color: white;
  padding: 15px 30px;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 1rem;
  margin-bottom: 10px;
  cursor: pointer;
}

.buttonSignUp button:hover {
  border: 1px solid #5E8B96;
  background-color: transparent;
  color: #5E8B96;
}


/* sign up end */

/* profile */
.Profilepage {
  display: flex;
  height: 520px;
  padding: 0 20px;
}



.ProfileSideBare {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 20px 40px;
  color: white;
}


.home {
  padding: 5px 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 200px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.home:hover {
  background-color: #5e8b969c;
  color: white;
  border-radius: 1rem;
}

.hovered {
  background-color: #6d9fac;
  color: white;
  border-radius: 1rem;
}


.imgPro img {
  padding-right: 30px;
  height: 35px;
  width: 35px;
}


.home p {
  font-size: 1rem;
  font-weight: 500;
}

.ProfileSec {
  padding: 10px 20px;
  width: 100%;
  background-color: #EDE7DE;
  background-image: url(./img/profilebackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.ProfileSec h1 {
  color: #96695E;
}

.ProfileCards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.imgLink img {
  color: white;
  height: 80px;
  width: 80px;
}


.ProfileLinkCard {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #5E8B96;
  border-radius: 1rem;
  height: 160px;
  width: 300px;
  cursor: pointer;
}

.ProfileLinkCard h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.ProfileLinkCard:hover {
  scale: 1.02;
}



.UploadSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.UploadPage h1 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-weight: 400;
  font-size: 1.6rem;

}


.UploadImgSec {
  height: 70%;
  width: 70%;
}

.UploadImgSec img {
  width: 100%;
}


.InputSection {
  display: flex;
  align-items: center;
  color: black;
  gap: 10px;
}

.InputSection input {
  padding: 2px 10px;
  border: none;
  color: whitesmoke;
  background-color: rgba(128, 128, 128, 0.175);
  height: 30px;
  width: 200px;
}


.InputSection p {
  color: #96695E;
  font-weight: 400;
  font-size: 1.2rem;

}

.UploadField {
  margin-top: -80px;
  margin-bottom: 30px;
}

.UploadField .inputF {
  text-align: center;
  padding-left: 150px;
  padding-bottom: 0;
  height: 40px;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  width: 75%;
}

.UploadSubmitbtu button {
  padding: 15px 40px;
  background-color: #5E8B96;
  border: none;
  border-radius: 1rem;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;

}


.UploadSubmitbtu button:hover {
  background-color: transparent;
  border: .3px solid #96695E;
  color: #96695E;
  font-weight: 500;
}



/* trackCard */

.track {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.SelectTrackText {
  display: flex;
  align-items: center;
  gap: 10px;
}

.SelectTrackText h1 {
  font-size: 1.3rem;
  font-weight: 400;
}

.SelectTrackText input {
  height: 30px;
  border-radius: 1rem;
  border: none;
  padding: 5px 10px;
}

.CardTrack {
  display: flex;
  gap: 30px;

}

.cardST {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 9px;
  background-color: #5E8B96;
  height: 100px;
  width: 170px;
  border-radius: 1rem;
}


.CardTrackImg {
  height: 50px;
  width: 50px;
}

.CardTrackImg img {
  width: 100%;
}






.FormTrack {

  display: flex;
  align-items: start;
  flex-direction: column;
  color: black;
  background-color: #ffffff;
  padding: 10px 10px;
  border-radius: .6rem;
  width: 90%;
  height: 150px;
  margin-top: 30px;

}

.FormHead {
  display: flex;
  background-color: #96695E;
  color: white;
  margin: 0;
  padding: 6px 7px;
  margin-top: -20px;
  margin-left: 10px;
  border-radius: .8rem;

}

.FormHead span {
  font-size: 1rem;
}


.FormInputT {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-left: 90px;
}

.NumberInputFormT {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;

}

.NumberInputFormT p {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  color: #96695E;
}

.NumberInputFormT input {
  font-size: 1.4rem;
  border-radius: 1rem;
  padding: 3px 10px;
  border: .3px solid black;
}

.TrackCaptcha {
  display: flex;
  align-items: center;
  gap: 30px;
}

.readCaptcha {
  display: flex;
  align-items: center;
  gap: 10px;

}

.readCaptcha p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #96695E;
}

.readCaptcha h3 {
  padding: 3px 10px;
  background-color: #5e8b9653;
  color: rgb(108, 108, 108);
  border: .3px solid #96695E;
}

.inputCaptcha {
  display: flex;
  align-items: center;
  gap: 10px;
}


.inputCaptcha p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #96695E;
}

.inputCaptcha input {
  font-size: 1.3rem;
  border-radius: 1rem;
  width: 200px;
  padding: 3px 5px;
  border: .3px solid black;
}

.TrackSubmitButton button {
  padding: 15px 40px;
  border: none;
  background-color: #5E8B96;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 1rem;
}


.TrackSubmitButton button:hover {
  background-color: transparent;
  border: .4px solid #96695E;
  color: #96695E;
}



/* paymentpage */

.HeadPay {
  text-align: center;
  font-size: 1rem;
}

.Paymentpage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}

.ButtonSecPay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PayButton {
  display: flex;
  gap: 40px;
}

.PayButton .pay {
  height: 80px;
  width: 300px;
  background-color: #2d2ba0;
  color: white;
  font-size: 3rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.PayButton .pay:hover {
  color: #2d2ba0;
  background-color: transparent;
  font-size: 3rem;
  border: 1px solid #2d2ba0;

}

.PayButton .receive {
  height: 80px;
  width: 300px;
  background-color: #007f13;
  color: white;
  font-size: 3rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}


.PayButton .receive:hover {
  color: #007f13;
  background-color: transparent;
  font-size: 3rem;
  border: 1px solid #007f13;

}



/* RecivePage */
.ReciveDataPage h1{
  margin: 0;padding: 0;text-align: center;
}

.TableRecive {}

.SearchRecive{
  padding: 13px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: black;
}

.SearchRecive p{
  font-size: 1.3rem;
  color: #96695E;
  font-weight: 500;
}

.SearchRecive input{
  font-size: 1.7rem;
  color: black;
}

.SearchImgRecive{
  height: 30px;
  width: 30px;
 cursor: pointer;
}

.SearchImgRecive img{
  width: 100%;
}

.SearchImgRecive:hover{
 scale: 1.2;
}


/* MyTable.css */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 1.3rem;

}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: #000000;
}

th {
  background-color: #5E8B96;
  color: white;
}